//
// Site specific styles
//
// First imports the theme and then allows you to
// add your custom styles
//
// You can use all Bootstrap variables and mixins
// that are provided by the theme
//
// --------------------------------------------------

// Import flat bootstrap theme
@import "themes/skq/theme";

@max-width: 1800px;
@transition-time: 300ms;
@gray-bg: #999;

body{
  padding-top: (@navbar-height);
  -webkit-font-smoothing: antialiased; 
  min-width: 0;
}

// HEADER

.navbar {
          transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}

.navbar-inverse .skq.navbar-brand {
  color: #fff;
}

.skq-header{
  padding: 0 (@grid-gutter-width * 1.25) 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.skq { height: auto; }

.skq-tagline{
  margin-top: -0.8em;
  padding-left: 20px;
  width: 300px;
  font-family: @headings-font-family;
  font-size: 1.1em;
  line-height: 1.3em;
  color: @gray-light;
  &:hover { opacity: 1; }

  &.default {
    color: #d2d2d2 !important;
  }

  &.pro,
  &.enterprise {
    margin-top: -12px;
    color: #000;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
  }

  &.enterprise {
    margin-top: -20px;
    font-size: 1.25em;
  }
}

.nav-mini {
  height: 50px;
}

.navbar-right{
  font-size: 1.1em;
  line-height: 1.25em;
  font-family: @headings-font-family;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 200;
}

.skq.navbar-brand {
  font-size: 47px;
  color: @brand-primary;
}

@media (max-width:@screen-xs){
  .navbar-header {
    width: 30%;
  }
  .skq {
    font-size: 25px !important;
  }
  .skq-header {
    padding: 0 (@grid-gutter-width * 0.75) 0;
  }
  .navbar-right a {
    font-size: 0.8em;
  }
}

// BODY

.skq-hero-area{
  margin: 0 auto;
  padding: (@grid-gutter-width * 2.5) 10px;
  padding-bottom: 0;

  [class*="col-"] {
    padding: 0 (@grid-gutter-width * 2);
  }
}

.skq-quote {
  font-family: @headings-font-family;
  font-size: 1.1975em;
  line-height: 1.75em;
  color: @brand-primary;
}

.skq-quoted {
  display: block;
  margin-top: 1.3em;
  font-family: @headings-font-family;
  font-size: .9375em;
  color: @gray-light;
  line-height: 1.5em;

  a { color: @gray-light; }
}

.floating-quotation {
  display: inline-block;
  margin-left: -.35em;
}

.carousel-fade {
  margin: .5em 0;
  .carousel-inner {
    overflow: visible;
    .item {
      transition-property: opacity;
    }   
    .item,
    .active.left,
    .active.right {
        opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control {
      z-index: 2;
  }
}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.rule-left{
  height: 100%;
  border-left: 1px solid @gray-lighter;
}

.skq-hero-text{
  font-size: 1.85em;
  line-height: 1.85em;

  .skq-counter-number{
    display: inline-block;
    padding: .02em .5em;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    border-radius: 6px;
    color: @brand-primary;
    font-weight: bold;
  }
}

.spacer {
  float: left;
  width: 100%;
  margin: (@grid-gutter-width * 1.25) 0;
}

.spacer-md {
  .spacer;
  margin: (@grid-gutter-width * 2) 0;
}

.spacer-lg {
  .spacer;
  margin: (@grid-gutter-width * 3) 0;
}

h3 { font-size: 2.2rem; }

h3, h5 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 700;
}

h4 {
  font-family: @font-family-base;
  font-size: 1.5em;
  line-height: 1.5em;
}

h5 {
  color: @gray-light;
  margin-top: 3em;
}

h6 {
  margin: 1em 0;
  font-family: @font-family-base;
  font-size: 1.5em;
  line-height: 1.3em;
}

.logo-carousel {
  width:100%;
  margin-bottom: 4em;
}
.logo-carousel-vertical {
  height:260px;
  width:135px;
}

.logo-list {
  padding-left: 0;
  margin: 0 0 0 -50px;

  li img {
    width: 82%;
    height: auto;
  }
}

.logo-carousel li {
  color:#666; 
  float:left;
  font-weight:bold;
  font-size:3em;
  height:auto;
  list-style:none;
  padding:20px 0 0 0;
  margin:0 5px 0 0;
  text-align:center;
  width:180px;
}
.logo-carousel-vertical li {
  margin:0 0 10px 0;
}

.skq-cols{
  margin-top: 3em;
}

[class*="skq-col-"]{
  padding: @grid-gutter-width (@grid-gutter-width * 1.5);
  min-height: 600px;

  p { 
    margin-top: 1em;
    font-size: 1.25em;
  }

  ul { 
    list-style: none;
    padding-left: 2em;
    margin-top: 2em;
   }
  li {
    position: relative;
    margin: .75em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: lighten(@gray, 10%);

    .glyphicon {
      position: absolute;
      left: -2em;
      top: .25em;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  li, small{ 
    color: lighten(@gray, 5%);
    font-size: 1.4rem;
    line-height: 1.5em;
  }
}

.skq-col-left { 
  background-color: fade(#69952f, 20%);
  h3, .glyphicon{ color: #69952f; }
}

.skq-col-center { 
  background-color: fade(#00558d, 20%);

  h3, .glyphicon, a{ color: #00558d; }
}

.skq-col-right { 
  background-color: fade(@brand-primary, 20%);

  h3, .glyphicon, a{ color: @brand-primary; }
}

.skq-tabs {
  text-align: center;
}

.container.tab-header {
  h5 {
    margin: 10px (@grid-gutter-width * 1.5) 22px;
  }
}

.tabs-holder.fixed-mode {
  height: 70px;
  background-color: @gray-bg;
}

.skq-tabs.fixed-mode {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 1035;
}

[class*="skq-tab"] {
  position: relative;
  overflow: hidden;
  height: 70px;
  h3 { font-size: 1.4em; }
  img { 
    opacity: 0.5;
    margin-top: -5px;
  }
  a {
    z-index: 1;
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
  }
}

.angle-tag {
  position: absolute;
  display: inline-block;
  padding: .5em 2.4em .4em;
  top: -2.3em;
  right: -2.2em;
  font-size: .8em;
  color: #fff;
  background-color: @brand-primary;
  transform: rotate(45deg);
}

#oss, #pro, #enterprise {
  transition: background-color @transition-time ease;
  background-color: @gray-bg;

  // Fade transition
  // .viewing-oss & { background-color: #aaa; }
  // .viewing-pro & { background-color: @gray-darker; }
  // .viewing-ent & { background-color: darken(@brand-primary, 10%); }
}

#pro { background-color: @gray-darker; }
#enterprise { background-color: darken(@brand-primary, 10%); }

.skq-tab-left {
  background-color: @gray-bg;
}

.skq-tab-center {
  background-color: @gray-darker;
}

.skq-tab-right {
  background-color: darken(@brand-primary, 10%);
}

.skq-tab-left,
.skq-tab-center,
.skq-tab-right {
  &:hover {
    box-shadow: inset 0 8px 0 rgba(255,255,255,0.2);
  }
}
.skq-tab-left,
.skq-tab-center,
.skq-tab-right { color: #fff; }

.product {
  padding-top: 40px;
  position: relative;
}

.chart-area {
  padding-left: 0;
}

.charts-wrapper {
  width: 95%;
  height: 77vh;
  min-height: 580px;
  padding-left: 30px;
}

.comparison-chart {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 30px 0 0;
  z-index: 1;

  &.fixed-mode {
    position: fixed;
    top: 110px;
    left: 0px;
    z-index: 90;
  }

  .row { 
    max-width: @max-width;
    margin: 0 auto;
  }

  .col-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  ul { float: right; }
  ul li:first-child { border-bottom-width: 2px !important; }
  ul li:last-child { border-bottom: 0 !important; }
  ul li:nth-child(14),
  ul li:nth-child(15) { min-height: 55px !important; }

  ul li:first-child {
    .oss & { border-top: 4px solid #888; }
    .pro & { border-top: 4px solid #444; }
    .ent & { border-top: 4px solid @brand-primary !important; }
  }

  .glyphicon-ok-sign { color: darken(@brand-success, 10%) }
  .glyphicon-minus-sign { color: darken(@brand-danger, 10%) }

  .key,
  [class*=panel-] {
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
    text-transform: uppercase;
    font-family: @headings-font-family;
    font-size: .75em;
    letter-spacing: .1em;
    transition: background-color @transition-time ease;

    li {
      min-height: 30px;
      padding: 10px 1em 0;
      border-bottom: 1px solid rgba(255,255,255,0.15);
      white-space: nowrap;
      color: @gray;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color @transition-time ease;
    }
  }

  .key {
    width: 27.5%;
    height: 100%;
    padding: 8px 0;
    li { 
      padding-right: 1.25em;
      .viewing-pro &,
      .viewing-ent & { color: @gray-lighter; }
    }
  }

  .panel {
    transition: opacity 200ms ease;
  }

  [class*=panel-] {
    width: 100%;
  }

  .panel-1,
  .panel-2,
  .panel-3 {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.2em;
    margin: 0 0 0 0;
    padding: 8px 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);

    li { 
      text-align: center;
      border-bottom: 1px solid rgba(0,0,0,0.15);
    }
    li:first-child { font-size: 1.2em; }
  }

  .panel-mask {
    position: relative;
    padding-right: 5px;
    margin-left: -5px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 32%;
    float: right;
    transition: width @transition-time;
    transition-delay: 100ms;

    &.panel-focus { 
      width: 31%; 

      & .panel { opacity: .85; }
    }
    &.panel-minimize { width: 9%; }
  }

  .mask-inactive {
    width: 20%;

    & .panel {
      li { color: #999 !important; }
    }

    & .panel-2 {
      opacity: .6;
      margin: 4px 0;
      padding: 4px 0;
    }

    & .panel-3 {
      opacity: .4;
      margin: 8px 0;
      padding: 0 0;
    }
  }

  .mask-active .panel {
    margin-left: 0;
    background-color: #fff;
  }
}

.prompt {
  transition: color @transition-time ease;
  position: absolute;
  width: 90%;
  margin: 100px 0 0;
  padding: 0;
  font-size: .85em;
  font-style: italic;
  text-align: center;
  color: @gray;
  z-index: 91;

  &:hover {
    text-decoration: none !important;
    color: #fff !important;

    span { opacity: 1; }
  }

  #pro & { color: @gray-light; }

  span {
    transition: opacity @transition-time ease;
    font-size: 1.5em;
    line-height: 3em;
    opacity: 0;
    color: #ccc;
  }
}

.skq-copy-2 {
  position: relative;
  width: 84%;
  max-width: 400px;
  margin-top: 28vh;
  color: @gray-darker;
  h4 { font-size: 2em; }
  p {
    font-size: 1.2em;
    margin: 1em 0 1.75em;
    line-height: 1.75em;
  }
  .btn {
    position: absolute;
    z-index: 99;
    width: 90%;
  }
}

#pro .skq-copy-2 {
  color: @gray-lighter;
  p { color: @gray-light; }
}

#enterprise .skq-copy-2 {
  color: #fff;
  p { color: rgba(255, 255, 255, 0.4); }
}

.skq-copy {
  padding: 0 (@grid-gutter-width * 1.5);

  p {
    margin-top: 1.25em;
    font-size: .85em;
    line-height: 1.85em;
  }
}

.skq-copy-img {
  padding: (@grid-gutter-width);
}

.skq-support-img {
  height: 60px;
  width: auto;
  margin-top: (@grid-gutter-width)
}

.skq-support-copy {
  padding: 0 (@grid-gutter-width * 1.5);

  p, ul {
    margin-top: 1.25em;
    font-size: .85em;
    line-height: 1.85em;
  }

  h3{ margin-top: 2em; }

  li{ margin-top: .5em; }
}

.skq-contributors {
  margin: (@grid-gutter-width) 0 (@grid-gutter-width * 3) 0;

  .list-group-item {
    max-width: 157px;
    margin: 5px; 
    padding: 0px;
    font-family: @headings-font-family;

    a { font-size: .8em; }
    .name { 
      font-size: .9em;
      white-space: nowrap;
      display: inline-block;
    }
    figcaption { padding: 10px; }
  }

  .skq-contributor-img {
    width: 155px;
    height: 155px;
    background-color: @gray-lighter;
  }
}

img.icon{
  width: 1.25em;
  height: auto;
  margin-right: .5em;
}

@media (max-width:@screen-xs){
  .skq-hero-area {
    padding-top: 20px; 
    [class*="col-"] {
      padding: 0 (@grid-gutter-width * 1.5);
    }
  }
  .tab-header {
    text-align: center;
  }
  .skq-hero-text {
    margin-bottom: @grid-gutter-width;
    font-size: 1.4  em;
  }
  [class*="skq-tab"] {
    height: 55px;
    .angle-tag { font-size: .5em; }
    h3 { font-size: .75em; }
  }
  [class*="skq-col-"]{
    min-height: 0;
  }
  .logo-carousel li {
    width: 120px;
    padding-top: 0;
  }
  .skq-support-copy {
    padding: 0 (@grid-gutter-width / 2)
  }
  .product {
    height: auto !important;
  }
  .comparison-chart.fixed-mode {
    position: static;
  }
}

// FOOTER

.skq-subfooter{
  text-align: center;
  background-color: #ddd;
  border: none;
  padding-top: (@grid-gutter-width * 1.5);
  margin: 0;
  background-image: none;

  a{
    margin-left: 1em;
    padding: .75em 1em; 
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid @brand-primary;
    color: @brand-primary;
  } 
}

footer{
  .skq-header;
  padding-top:   (@grid-gutter-width * 1.5);
  padding-bottom:(@grid-gutter-width * 1.5);
  margin: 0;
  border-top: 1px solid @well-border;
  text-align: left;
  background-color: @gray;
  box-shadow: none;
  background-image: url('../img/sidekiq-logo.png');
  background-size: auto 50px;
  background-position: @grid-gutter-width @grid-gutter-width;
  background-repeat: no-repeat;

  .container-fluid { max-width: @max-width; }

  hr{
    border-color: lighten(@gray-dark, 9%);
    margin-top: .75em;
  }

  a{
    font-family: @headings-font-family;
    line-height: 2em;
    color: @gray-dark;

    &:hover{ 
      color: @gray-light;
      text-decoration: none;
    }
  }

  .skq-footer-brand{
    margin-left: .5em;
    font-size: 1.8em;
    font-family: @font-family-base;
    color: @gray-dark;
  }

  .skq-footer-logo{
    margin-top: 2em;
    width: auto;
    height: 27px;
  }

  small{ 
    font-family: @headings-font-family;
    color: @gray-light;

    a{ 
      color: @gray-light;
      &:hover { text-decoration: underline; }
    }
  }
}

.skq-award{
  margin-left: .75em;
  width: auto;
  height: 50px;
}

// resize chart area for smaller screen heights
@media (max-height:@screen-sm){
  .comparison-chart.fixed-mode {
    top: 50px;
  }
  .skq-tabs.fixed-mode {
    transition: margin @transition-time ease;
    margin-top: -50px;
  }
  .skq-copy-2 {
    margin-top: 10vh;
  }
}

@media (max-width:@screen-sm){
  .skq-subfooter a {
    margin: 1em 2em 0 2em;
  }
}