//
// Site specific styles
//
// First imports the theme and then allows you to
// add your custom styles
//
// You can use all Bootstrap variables and mixins
// that are provided by the theme
//
// --------------------------------------------------

// Import flat bootstrap theme
@import "themes/skq/theme";

body{
  padding-top: (@navbar-height + @grid-gutter-width);
  -webkit-font-smoothing: antialiased; 
}

.skq-header{
  padding: 0 (@grid-gutter-width * 1.25) 0;
}

.skq-hero-area{
  margin: 0 auto;
  padding: (@grid-gutter-width * 1.5) (@grid-gutter-width * .4);

  [class*="col-"]{
    padding: 0 (@grid-gutter-width * 1.5);
  }
}

.skq-quote{
  font-family: @headings-font-family;
  font-size: 1.125em;
  line-height: 1.75em;
  color: @brand-primary;
}

.skq-quoted{
  display: block;
  margin-top: 1.5em;
  font-family: @headings-font-family;
  font-size: .9375em;
  color: @gray-light;
  line-height: 1.5em;
}

.floating-quotation{
  display: inline-block;
  margin-left: -.35em;
}

.rule-left{
  height: 100%;
  border-left: 1px solid @gray-lighter;
}

.skq-hero-text{
  font-size: 1.75em;
  line-height: 1.85em;

  .skq-counter-number{
    display: inline-block;
    padding: .05em .5em;
    background-color: #fff;
    border-radius: 6px;
    color: @brand-primary;
    font-weight: bold;
  }
}

footer{
  .skq-header;
  padding-top: 0;
  padding-bottom: (@grid-gutter-width);
  margin: @grid-gutter-width 0 0 0;
  border-top: 1px solid @well-border;
  text-align: left;
  background-color: @gray;

  hr{
    border-color: lighten(@gray-dark, 9%);
    margin-top: .75em;
  }

  a{
    font-family: @headings-font-family;
    line-height: 2em;
    color: @gray-dark;

    &:hover{ 
      color: @gray-light;
      text-decoration: none;
    }
  }

  .skq-footer-brand{
    font-family: @font-family-base;
    color: @gray-darker;
  }

  .skq-footer-logo{
    margin-top: 3em;
    width: auto;
    height: 27px;
  }

  small{ 
    font-family: @headings-font-family;
    color: @gray-light;

    a{ 
      color: @gray-light;
      &:hover { text-decoration: underline; }
    }
  }
}

.skq-award{
  margin-left: .75em;
  width: auto;
  height: 50px;
}

ul.nav-docs{
  margin-top: 60px;
  h1{
    margin: 1em 0 0 0;
    padding: 10px 15px;
    font-size: 1.8rem;
  }
}

article.article-docs{
  h1, h2, h3, h4, h5, h6{
    margin: 1em 0;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.6rem;
  }
  h3{
    font-size: 2.2rem;
  }
  h4{
    font-size: 1.8rem;
  }
  p{
    margin: 1em 0;
  }
  img{
    width: 100%;
  }
}