//
// Site specific styles
//
// First imports the theme and then allows you to
// add your custom styles
//
// You can use all Bootstrap variables and mixins
// that are provided by the theme
//
// --------------------------------------------------

// Import bootstrap theme
@import "themes/skq/theme";

@max-width: 1700px;
@transition-time: 300ms;
@gray-bg: #999;

body {
  padding-top: (@navbar-height);
  -webkit-font-smoothing: antialiased; 
  min-width: 0;
}

// HEADER

.skq-header{
  padding: 0 (@grid-gutter-width * 1.25) 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  overflow: hidden;
}

.skq { height: auto; }

.navbar-default {
  .navbar-brand:hover,
  .navbar-brand:focus { color: #000; }
}

.skq-tagline{
  margin-top: -0.8em;
  padding-left: 20px;
  width: 300px;
  font-family: @headings-font-family;
  font-size: 1.1em;
  line-height: 1.3em;
  color: @gray-light;

  &.default {
    color: #b2b2b2 !important;
  }

  &.pro,
  &.enterprise {
    margin-top: -12px;
    color: #000;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
  }

  &.enterprise {
    margin-top: -20px;
    font-size: 1.25em;
  }
}

.nav-mini {
  height: 50px;
}

.navbar-right{
  font-size: 1.1em;
  line-height: 1.25em;
  font-family: @headings-font-family;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 200;
}

.skq.navbar-brand {
  font-size: 47px;
  color: @brand-primary;
}

@media (max-width:@screen-xs){
  .navbar-header {
    width: 30%;
  }
  .skq {
    font-size: 22px !important;
  }
  .skq-header {
    padding: 0 (@grid-gutter-width * 0.75) 0;
  }
  .navbar-right li a {
    font-size: 0.5em;
  }
}

// BODY

.skq-hero-area{
  margin: 0 auto;
  padding: (@grid-gutter-width * 2.5) 10px;
  padding-bottom: 0;

  [class*="col-"] {
    padding: 0 (@grid-gutter-width * 2);
  }

  &.product-pg {
    padding-top: 150px; 
  }
}

.skq-quote {
  font-family: @headings-font-family;
  font-size: 1.1975em;
  line-height: 1.75em;
  color: @brand-primary;
}

.skq-quoted {
  display: block;
  margin-top: 1.3em;
  font-family: @headings-font-family;
  font-size: .9375em;
  color: @gray-light;
  line-height: 1.5em;

  a { color: @gray-light; }
}

.floating-quotation {
  display: inline-block;
  margin-left: -.35em;
}

.carousel-fade {
  margin: .5em 0;
  .carousel-inner {
    overflow: visible;
    .item {
      transition-property: opacity;
    }   
    .item,
    .active.left,
    .active.right {
        opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control {
      z-index: 2;
  }
}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.rule-left{
  height: 100%;
  border-left: 1px solid @gray-lighter;
}

.skq-hero-text{
  font-size: 1.85em;
  line-height: 1.85em;

  .skq-counter-number{
    display: inline-block;
    padding: .02em .5em;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    border-radius: 6px;
    color: @brand-primary;
    font-weight: bold;
  }
}

.spacer {
  .clearfix;
  width: 100%;
  margin: (@grid-gutter-width * 1.25) 0;
}

.spacer-md {
  .spacer;
  margin: (@grid-gutter-width * 2) 0;
}

.spacer-lg {
  .spacer;
  margin: (@grid-gutter-width * 3) 0;
}

h3 { font-size: 2.2rem; }

h3, h5 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 700;
}

h4 {
  font-family: @font-family-base;
  font-size: 1.5em;
  line-height: 1.5em;
}

h5 {
  color: @gray-light;
  margin-top: 2em;
}

h6 {
  margin: 1em 0;
  font-family: @font-family-base;
  font-size: 1.5em;
  line-height: 1.3em;
}

.logo-carousel {
  width:100%;
  margin-bottom: 4em;
}
.logo-carousel-vertical {
  height:260px;
  width:135px;
}

.logo-list {
  padding-left: 0;
  margin: 0 0 0 -50px;

  li img {
    width: 82%;
    height: auto;
  }
}

.logo-carousel li {
  color:#666; 
  float:left;
  font-weight:bold;
  font-size:3em;
  height:auto;
  list-style:none;
  padding:20px 0 0 0;
  margin:0 5px 0 0;
  text-align:center;
  width:180px;
}
.logo-carousel-vertical li {
  margin:0 0 10px 0;
}

.skq-cols{
  margin-top: 3em;
}

[class*="skq-col-"]{
  padding: @grid-gutter-width (@grid-gutter-width * 1.5);
  min-height: 600px;

  p { 
    margin-top: 1em;
    font-size: 1.25em;
  }

  ul { 
    list-style: none;
    padding-left: 2em;
    margin-top: 2em;
   }
  li {
    position: relative;
    margin: .75em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: lighten(@gray, 10%);

    .glyphicon {
      position: absolute;
      left: -2em;
      top: .25em;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  li, small{ 
    color: lighten(@gray, 5%);
    font-size: 1.4rem;
    line-height: 1.5em;
  }
}

.skq-col-left { 
  background-color: fade(#69952f, 20%);
  h3, .glyphicon{ color: #69952f; }
}

.skq-col-center { 
  background-color: fade(#00558d, 20%);

  h3, .glyphicon, a{ color: #00558d; }
}

.skq-col-right { 
  background-color: fade(@brand-primary, 20%);

  h3, .glyphicon, a{ color: @brand-primary; }
}

.skq-tabs {
  text-align: center;
  z-index: 10;
  &.tall-tabs {
    height: 150px;
    .col-xs-4,
    a { 
      height: 150px;
      font-size: 1.15em;
    }
    h3 { margin-top: 60px; }
  }
}

.tabs-holder.fixed-mode {
  height: 70px;
  background-color: @gray-bg;
}

.skq-tabs.fixed-mode {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 1035;
}

[class*="skq-tab"] {
  position: relative;
  overflow: hidden;
  height: 70px;
  h3 { font-size: 1.4em; }
  img {
    margin-top: -5px;
  }
  a {
    z-index: 1;
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
  }
}

.angle-tag {
  position: absolute;
  display: inline-block;
  padding: .5em 2.4em .4em;
  top: -2.3em;
  right: -2.2em;
  font-size: .8em;
  color: #fff;
  background-color: @brand-primary;
  transform: rotate(45deg);
}

.tab-highlight { box-shadow: inset 0 0 0 10 px rgba(255,255,255,0.15); }

.skq-tab-left { background-color: @gray-bg; }

.skq-tab-center { background-color: @gray-darker; }

.skq-tab-right { background-color: darken(@brand-primary, 10%); }

.skq-tab-left,
.skq-tab-center,
.skq-tab-right {
  &:hover { .tab-highlight; }
}
.skq-tab-left,
.skq-tab-center,
.skq-tab-right { color: #fff; }

.product {
  padding-top: 40px;
  position: relative;
  min-height: 580px;
}


// chart styling //

#products {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.comparison-chart {
  display: block;
  height: 100%;
  width: 100%;
  max-width: @max-width;
  margin: 0 auto;
  padding: 10px @grid-gutter-width*2 @grid-gutter-width;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);

  .row { 
    width: 100%;
    max-width: @max-width;
    margin: @grid-gutter-width auto;
  }

  ul li {
    height: 4.8vh;
    min-height: 42px;
    padding: 12px 10px 0;
    color: @gray-dark;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(0,0,0,0.15);  

    small { color: @gray-light }
    .help { cursor: help; }
  }

  ul li:first-child { 
    border-bottom-width: 2px;
    a { 
      color: @gray-darker;
      &:hover { 
        text-decoration: none;
        color: @brand-primary;
      }
    }
  }
  ul li:last-child { border-bottom: 0; }
  ul li:nth-child(14),
  ul li:nth-child(15),
  ul li:nth-child(16) { height: 70px; }
  ul li:first-child { height: 80px; }
  ul li:nth-child(18) { height: 100px; }

  .glyphicon-ok-sign { color: darken(@brand-success, 10%) }
  .glyphicon-minus-sign { color: darken(@brand-danger, 10%); }

  ul.product {
    float: left;
    width: 33.3%;
    height: 100%;
    text-transform: none;
    letter-spacing: 0;
    font-family: @headings-font-family;
    font-size: 1.1em;
    margin: 0 0 0 0;
    padding: 0;
    border: none;

    li { 
      :nth-child(17) { border-bottom: none; }
      .btn-primary {
        margin: 0;
        padding: 1.5em .5em;
        width: 100%;
        font-size: .85em;
        white-space: normal;
      }
      .btn-black { 
        background-color: @gray-dark;
        border-color: @gray-dark;
        &:hover { background-color: #111; }
      }

      .btn-white {
        border: 2px solid @gray-light;
        :hover,
        :focus,
        :active { background-color: @gray-light; }
      }
    }
  }

  ul.key {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-family: @headings-font-family;
    font-size: .75em;
    letter-spacing: .1em; 

    li {
      padding-right: 2em;
      text-align: right;  
      white-space: nowrap;
      color: @gray-light;
    }
  }
}

.skq-copy {
  padding: 0 (@grid-gutter-width * 1.5);

  p {
    margin-top: 1.25em;
    font-size: .85em;
    line-height: 1.85em;
  }
}

.skq-copy-img {
  padding: (@grid-gutter-width);
}

.skq-support-img {
  height: 60px;
  width: auto;
  margin-top: (@grid-gutter-width)
}

.skq-support-copy {
  padding: 0 (@grid-gutter-width * 1.5);

  p, ul {
    margin-top: 1.25em;
    font-size: .85em;
    line-height: 1.85em;
  }

  h3{ margin-top: 2em; }

  li{ margin-top: .5em; }
}

.skq-contributors {
  margin: (@grid-gutter-width) 0 (@grid-gutter-width * 3) 0;

  .list-group-item {
    max-width: 157px;
    margin: 5px; 
    padding: 0px;
    font-family: @headings-font-family;

    a { font-size: .8em; }
    .name { 
      font-size: .9em;
      white-space: nowrap;
      display: inline-block;
    }
    figcaption { padding: 10px; }
  }

  .skq-contributor-img {
    width: 155px;
    height: 155px;
    background-color: @gray-lighter;
  }
}

img.icon{
  width: 1.25em;
  height: auto;
  margin-right: .5em;
}

// PRODUCTS
.purchase {
  position: fixed;
  top: 0;
  background-color: @gray-dark;
  z-index: 2000;

  .page-links {
    height: 100%;
    max-height: 70px;
    padding: 0 @grid-gutter-width;
    display: flex;
    align-items: center;
    display: block;
    float: left;
    margin: 0;
    a { 
      display: inline-block;
      float: left;
      padding: 20px 20px 20px 10px;
      font-size: 20px;
      color: #fff;
      &:hover {
        text-decoration: none;
        color: @gray;
      }
    }
    a.btn { 
      margin: 10px;
      padding: .75em 2em;
      float: right;
      font-size: 1em;
      &:hover { color: #fff; }
      span { 
        color: rgba(255,255,255,0.6);
        text-transform: none;
      }
    }
  }
}

// FOOTER

.skq-subfooter{
  text-align: center;
  background-color: #ddd;
  border: none;
  padding-top: (@grid-gutter-width * 1.5);
  padding-bottom: (@grid-gutter-width * 1.5);
  margin: 0;
  background-image: none;

  a{
    margin-left: 1em;
    padding: .75em 1em; 
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid @brand-primary;
    color: @brand-primary;
  } 
}

footer{
  .skq-header;
  padding-top:   (@grid-gutter-width * 1.5);
  padding-bottom:(@grid-gutter-width * 3);
  margin: 0;
  text-align: left;
  background-color: @gray;
  box-shadow: none;
  background-image: url('../img/sidekiq-logo.png');
  background-size: auto 50px;
  background-position: @grid-gutter-width @grid-gutter-width;
  background-repeat: no-repeat;

  .container-fluid { max-width: @max-width; }

  hr{
    border-color: lighten(@gray-darker, 15%);
    margin-top: .75em;
  }

  a{
    font-family: @headings-font-family;
    line-height: 2em;
    color: @gray-darker;

    &:hover{ 
      color: @gray-light;
      text-decoration: none;
    }
    .glyphicon { 
      color: @gray-dark;
      font-size: .8em;
    }
  }

  .skq-footer-brand{
    margin-left: .5em;
    font-size: 1.8em;
    font-family: @font-family-base;
    color: @gray-darker;
  }

  .skq-footer-logo{
    margin-top: 2em;
    width: auto;
    height: 27px;
  }

  small{ 
    font-family: @headings-font-family;
    color: @gray-light;

    a{ 
      color: @gray-light;
      &:hover { text-decoration: underline; }
    }
  }
}

.skq-award{
  margin-left: .75em;
  width: auto;
  height: 50px;
}

// resize for devices narrower than 768px
@media (max-width:@screen-sm){
  .logo-carousel {
    margin-bottom: 2em;
  }
  #products,
  .comparison-chart {
    padding: 0;
    position: relative;
  }
  .col-sm-10.no-padding {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .charts-wrapper {
    width: 1050px;
    ul.product { width: 170px; }
    ul.col-ent { width: 210px; }
  }
  .col-oss { margin-left: 110px !important; }
  .key-wrapper {
    position: absolute;
    display: block;
    float: left;
    z-index: 9;
    width: 110px;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 0 2px rgba(0,0,0,0.15);
    font-size: .7em;
    ul.key li { white-space: normal; }
  }
  .col-sm-4 { width: 100%; }
  .skq-copy-wrapper {
    height: auto;
    margin-top: 0;
  }
  .row.skq-tabs,
  #oss,
  #pro,
  #enterprise { display: none; }

  .skq-subfooter a {
    margin: 1em 2em 0 2em;
  }
  .purchase .page-links {
    padding: 0;
    a.btn, {
      margin: 2%;
      width: 96%;
      font-size: 1em;
    }
  }
}

// Resize for devices narrower than 480px 
@media (max-width:@screen-xs){
  .skq-hero-area {
    padding-top: 20px; 
    [class*="col-"] {
      padding: 0 (@grid-gutter-width * 1.5);
    }
  }
  .skq-hero-area.product-pg { padding-top: 100px; }
  .skq-hero-text {
    margin-bottom: @grid-gutter-width;
    font-size: 1.4em;
  }
  [class*="skq-tab"] {
    height: 55px;
    .angle-tag { font-size: .5em; }
    h3 { font-size: .75em; }
  }
  [class*="skq-col-"]{
    min-height: 0;
  }
  .logo-carousel li {
    width: 120px;
    padding-top: 0;
  }
  .skq-support-copy {
    padding: 0 (@grid-gutter-width / 2)
  }
  .product {
    height: auto !important;
  }
}
