.container.skq-hero-area
  .row
    .col-sm-7
      p.skq-hero-text What if <span class="skq-counter-number">1</span> Sidekiq process could do the job of <span class="skq-counter-number">20</span> Resque or DelayedJob processes?
    .col-sm-5.rule-left
      != partial('_partials/quote-carousel')
  .row
    .col-sm-12
      h5 Trusted By
      hr
!= partial('_partials/logo-carousel')

!= partial("_partials/tab-nav")  
!= partial("_partials/comparison-chart")  

!= partial('_partials/subfooter')