.container.skq-hero-area
  .row
    .col-sm-7
      p.skq-hero-text What if <span class="skq-counter-number">1</span> Sidekiq process could do the job of <span class="skq-counter-number">20</span> Resque or DelayedJob processes?
    .col-sm-5.rule-left
      != partial('_partials/quote-carousel')
  .row
    .col-sm-12
      h5 Trusted By
      hr
!= partial('_partials/logo-carousel')

!= partial("_partials/tab-nav")  

.comparison-chart.hidden-xs
  .row
    .col-md-8.chart-area
      != partial("_partials/comparison-chart")
    .col-md-4


#oss.container.product.no-margin
  .row
    .col-md-8
    .col-md-4
      .skq-copy-2
        h4 Interested in trying Sidekiq out on your own project?
        p Check out the source code and documentation on GitHub to get started.
        a.btn.btn-primary.btn-lg(href='https://github.com/mperham/sidekiq/' target='_new')
          | Take me to GitHub &emsp;
          span.glyphicon.glyphicon-new-window
        a.prompt.hidden-xs.jump-link(href='#pro')
          | Need functionality built for business?
          br
          span.glyphicon.glyphicon-hand-down

#pro.container.product.no-margin    
  .row
    .col-md-8
    .col-md-4
      .skq-copy-2
        h4 Interested in trying Sidekiq out on your own project?
        p Check out the source code and documentation on GitHub to get started.
        a.btn.btn-primary.btn-lg(href='#{baseUrl}/products/pro') Learn more &amp; Buy
        a.prompt.hidden-xs.jump-link(href='#enterprise') 
          | Running a large company?
          br
          span.glyphicon.glyphicon-hand-down

#enterprise.container.product.no-margin
  .row
    .col-md-8
    .col-md-4
      .skq-copy-2
        h4 Interested in trying Sidekiq out on your own project?
        p Check out the source code and documentation on GitHub to get started.
        a.btn.btn-primary.btn-lg(href='#{baseUrl}/products/enterprise') Learn more &amp; Buy

!= partial('_partials/subfooter')