.charts-wrapper
  .col-ent.col-mask
    a.section-link.jump-link(href='#enterprise')
    ul.list
      li Med-Lg Companies
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li
        span.glyphicon.glyphicon-ok-sign
      li
        span.glyphicon.glyphicon-ok-sign     
      li
        span.glyphicon.glyphicon-ok-sign              
      li Email, Onboarding Session
      li
        | Commercial
        br
        | with Custom Terms
      li 
        | $1750 / year
        br
        | per 250 Worker Threads*
      li Quote + Invoice

  .col-pro.col-mask
    a.section-link.jump-link(href='#pro')
    ul.list
      li Small Business
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li
        span.glyphicon.glyphicon-minus-sign
      li
        span.glyphicon.glyphicon-minus-sign     
      li
        span.glyphicon.glyphicon-minus-sign              
      li Email
      li
        | Commercial
        br
        | No Custom Terms
      li 
        | $950 / year
        br
        | Unlimited Usage
      li Credit Card
  
  .col-oss.col-mask
    a.section-link.jump-link(href='#oss')
    ul.list
      li Hobbyists
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-ok-sign  
      li
        span.glyphicon.glyphicon-ok-sign
      li 
        span.glyphicon.glyphicon-minus-sign  
      li
        span.glyphicon.glyphicon-minus-sign
      li 
        span.glyphicon.glyphicon-minus-sign  
      li
        span.glyphicon.glyphicon-minus-sign
      li
        span.glyphicon.glyphicon-minus-sign
      li
        span.glyphicon.glyphicon-minus-sign     
      li
        span.glyphicon.glyphicon-minus-sign              
      li None
      li LGPL
      li Free
      li n/a

  ul.key
    li Audience
    li Scheduled Jobs
    li Error Handling
    li Web UI
    li Ruby API
    li Middleware
    li Batches
    li Enhanced Reliability
    li Search in Web UI
    li Rate Limiting
    li Cron Jobs
    li Leader Election
    li Dedicated Support
    li License
    li Pricing
    li Purchasing