.charts-wrapper
  ul.panel-3.panel-inactive
    li Med-Lg Companies
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li
      span.glyphicon.glyphicon-ok-sign
    li
      span.glyphicon.glyphicon-ok-sign     
    li
      span.glyphicon.glyphicon-ok-sign              
    li Email, RFC-1149
    li Commercial
    li $1750 / yr / 10 processes
    li Credit, Invoice

  ul.panel-2.panel-inactive
    li Small Business
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li
      span.glyphicon.glyphicon-minus-sign
    li
      span.glyphicon.glyphicon-minus-sign     
    li
      span.glyphicon.glyphicon-minus-sign              
    li Email
    li Commercial
    li $950 / yr
    li Credit Card
  
  ul.panel-1.panel-active
    li Hobbyists
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-ok-sign  
    li
      span.glyphicon.glyphicon-ok-sign
    li 
      span.glyphicon.glyphicon-minus-sign  
    li
      span.glyphicon.glyphicon-minus-sign
    li 
      span.glyphicon.glyphicon-minus-sign  
    li
      span.glyphicon.glyphicon-minus-sign
    li
      span.glyphicon.glyphicon-minus-sign
    li
      span.glyphicon.glyphicon-minus-sign     
    li
      span.glyphicon.glyphicon-minus-sign              
    li None
    li LGPL
    li Free
    li n/a

  ul.key
    li Audience
    li Scheduled Jobs
    li Error Handling
    li Web UI
    li Ruby API
    li Middleware
    li Batches
    li Enhanced Reliability
    li Search in Web UI
    li Rate Limiting
    li Cron Jobs
    li Leader Election
    li Dedicated Support
    li License
    li Pricing
    li Purchasing