#carousel.carousel.slide.carousel-fade(data-ride='carousel')
  .carousel-inner
    .active.item
      p.skq-quote <span class='floating-quotation'>"</span>Replacing Resque with Sidekiq reduced our job processing hardware cost by a factor of six."
      .skq-quoted
        <strong>Justin Mazzi</strong>, @jmazzi
        br
        | Chief of Engineering, 
        a(href='http://site5.com/' target='_new') Site5.com
    .item
      p.skq-quote <span class='floating-quotation'>"</span>Sidekiq let us stop worrying about queues and focus on our app. Half a billion jobs later and it's holding up great."
      .skq-quoted
        <strong>Bryan Helmkamp</strong>, @brynary
        br
        | Co-Founder, 
        a(href='http://codeclimate .com/' target='_new') Code Climate