footer.skq-subfooter
	.fluid-container
		h4
			|	Questions, comments, &amp; concerns?
			a.btn.btn-default(href='mailto:info@contribsys.com?subject=Sidekiq%20question,%20comment,%20concern' type='button') info@contribsys.com