.col-xs-12.page-links
  a.jump-link(href='#features') Key Features
  a.jump-link(href='#details') Product Details
  a.btn.btn-primary(href='#{purchaseUrl}') 
    | Buy Now 
    span $#{purchasePrice}/year
