//
// Theme specific styles
//
// This file first includes your custom Bootstrap
// and then allows you to define all theme specific
// CSS styles
//
// You can use all Bootstrap variables and mixins
// if you included them in _bootstrap.less
//
// --------------------------------------------------

// Import custom bootstrap
@import "_bootstrap.less";

// Theme specific styles come here and can use all Bootstrap
// variables and mixins (if you included them)

// New styles

body{
	min-width: @screen-xs;
}

.navbar {
	border: none;
}

.skq-tagline{
	font-family: @headings-font-family;
	color: @gray-light !important;
	margin-top: -0.2em;
	max-width: 350px;
}

.navbar-right{
	.skq-tagline();
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
}

.skq.navbar-brand {
	font-size: (@font-size-h1 * 1.15);
	color: @brand-primary;
}