//
// Theme specific styles
//
// This file first includes your custom Bootstrap
// and then allows you to define all theme specific
// CSS styles
//
// You can use all Bootstrap variables and mixins
// if you included them in _bootstrap.less
//
// --------------------------------------------------

// Import custom bootstrap
@import "_bootstrap.less";

// Theme specific styles come here and can use all Bootstrap
// variables and mixins (if you included them)

// New styles

body{
	min-width: @screen-xs;
}

code {
  font-weight: bold;
}

.navbar {
	border: none;
}

.skq-white-bg {
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: @grid-gutter-width (@grid-gutter-width * 1.5);
	padding-top: 0;
}

.no-margin { 
	margin: 0;
	width: 100%;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}